@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.container{
    padding-bottom: 50px;
}


/* header */

.header-bg{
    background: #264653;
}
.nav-item{
    padding-right: 30px;
}
.header-details{
    padding: 50px 30px;
}


/* featured */
.gray-img{
    filter: grayscale(100%);
}

/* card */
.card-img{
    width: 210px;
    clip-path: circle();
}
.colored-star{
    color: orange;
}

/* footer */
.footer-bg{
    background: rgba(40, 37, 49, 1);
}